{% extends 'base.html.twig' %}
{% block body %}
    <h1>История проката</h1>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>ФИО арендатора:</th>
                <th>Госномер автомобиля:</th>
                <th>Марка и модель:</th>
                <th>Пункт выдачи:</th>
                <th>Дата выдачи:</th>
                <th>Пункт приема:</th>
                <th>Дата приема:</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rentalHistory in rentalHistories %}
            <tr>
                <td><a href="{{ path('history_show', { 'id': rentalHistory.id }) }}">{{ rentalHistory.id }}</a></td>
                <td>{{ rentalHistory.clientname }}</td>
                <td>{{ rentalHistory.Car.LicensePlate }}</td>
                <td>{{ rentalHistory.Car }}</td>
                <td>{{ rentalHistory.RentalPointStart }}</td>
                <td>{% if rentalHistory.datestart %}{{ rentalHistory.datestart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ rentalHistory.RentalPointEnd }}</td>
                <td>{% if rentalHistory.dateend %}{{ rentalHistory.dateend|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('history_show', { 'id': rentalHistory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('history_edit', { 'id': rentalHistory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('history_new') }}">Create a new rentalHistory</a>
        </li>
    </ul>
{% endblock %}
