{% extends 'base.html.twig' %}
{% block body %}

    {% stylesheets '@bootstrap_table_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}


    {% javascripts '@jquery' '@bootstrap_table_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts  '@bootstrap_table_locale_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('history_index') }}">Прокат автомобилей</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('history_index') }}">История</a></li>
                    <li><a href="{{ path('car_index') }}">Автомобили</a></li>
                    <li><a href="{{ path('rentalpoint_index') }}">Пункты выдачи</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <ul class="breadcrumb">
        <li class="active">Список</li>
    </ul>

    <h1>История проката</h1>


    <table
            class="table table-striped"
            data-toggle="table"
            data-locale="ru-RU"
            data-search="true"
            data-pagination="true"
            data-page-list="[5, 10, 50, 100, ВСЕ]"
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-columns="true">

        <thead>
            <tr>
                <th data-sortable="true">№</th>
                <th data-sortable="true">ФИО арендатора:</th>
                <th data-sortable="true">Госномер автомобиля:</th>
                <th data-sortable="true">Марка и модель:</th>
                <th data-sortable="true">Пункт выдачи:</th>
                <th data-sortable="true">Дата выдачи:</th>
                <th data-sortable="true" >Пункт приема:</th>
                <th data-sortable="true">Дата приема:</th>
                <th>Действия:</th>
            </tr>
        </thead>
        <tbody>
        {% for rentalHistory in rentalHistories %}
            <tr>
                <td><a href="{{ path('history_show', { 'id': rentalHistory.id }) }}">{{ rentalHistory.id }}</a></td>
                <td>{{ rentalHistory.clientname }}</td>
                <td><a href="{{ path('car_show', { 'id': rentalHistory.Car.id }) }}">{{ rentalHistory.Car.LicensePlate }}</a></td>
                <td>{{ rentalHistory.Car }}</td>
                <td><a href="{{ path('rentalpoint_show', { 'id': rentalHistory.RentalPointStart.id }) }}">{{ rentalHistory.RentalPointStart }}</a></td>
                <td>{% if rentalHistory.datestart %}{{ rentalHistory.datestart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a href="{{ path('rentalpoint_show', { 'id': rentalHistory.RentalPointEnd.id }) }}">{{ rentalHistory.RentalPointEnd }}</a></td>
                <td>{% if rentalHistory.dateend %}{{ rentalHistory.dateend|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="glyphicon glyphicon-file" href="{{ path('history_show', { 'id': rentalHistory.id }) }}">Просмотр</a>
                        </li>
                        <li>
                            <a class="glyphicon glyphicon-pencil" href="{{ path('history_edit', { 'id': rentalHistory.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a  type="button" class="btn btn-primary" href="{{ path('history_new') }}">Добавить историю аренды</a>

{% endblock %}
