{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('history_index') }}">Прокат автомобилей</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('car_index') }}">Автомобили</a></li>
                    <li><a href="{{ path('history_index') }}">История</a></li>
                    <li><a href="{{ path('rentalpoint_index') }}">Пункты выдачи</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <ul class="breadcrumb">
        <li class="active">Список</li>
    </ul>

    <h1>Доступные автомобили</h1>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Марка и модель:</th>
                <th>Госномер:</th>
                <th>Изображение:</th>
                <th>Действия:</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td> <a href="{{ path('car_show', { 'id': car.id }) }}">{{ car.id }}</a></td>
                <td>{{ car.model }}</td>
                <td>{{ car.licenseplate }}</td>
                <td><img src="{{ asset('uploads/cars/' ~ car.picture) }}" alt="{{ car.licenseplate }}" height="50" width="auto"> </td>
                <td>
                    <ul>
                        <li>
                            <a class="glyphicon glyphicon-file" href="{{ path('car_show', { 'id': car.id }) }}">Просмотр</a>
                        </li>
                        <li>
                            <a class="glyphicon glyphicon-pencil" href="{{ path('car_edit', { 'id': car.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-primary" href="{{ path('car_new') }}">Добавить автомобиль</a>

{% endblock %}
